

.main-container {
    display: flex;
    /* position:absolute; */
    /* top: 74px; */
    width: 100%;
    height: 80%;
    background-color: #c8c8c84d;
}

/* .nav-top {
    display: block;
    width: 100%;
    height: 10%;
    background-color: aquamarine;
} */

.content-container {
    height:100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

/* //////////////////////////////////////////////// */
.content-right {
    width: 20%;
    padding: 10px;
    border: 2px black solid;
}

.friends-container{
    padding: 2px;
    margin-top: 10px;
    background-color: #c8c8c8;
    border: 2px solid black;
    border-radius: 5px;
}

/* ///////////////////////////////////////////////////// */

.main-content {
    display: flex;
    height: 100%;
    width: 80%;
    border: 2px black solid;
}
